nodered/flow.json
[
  {
    "id": "crack_tab",
    "type": "tab",
    "label": "Crack Detection IVIS",
    "disabled": false,
    "info": "MQTT-in -> JSON -> dashboard (gauge, chart, alert). Includes inject+debug for testing without a camera."
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "crack_tab",
    "name": "ivis/crack/detections",
    "topic": "ivis/crack/detections",
    "qos": "0",
    "datatype": "auto",
    "broker": "cfg_broker_local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 120,
    "wires": [["json_parse"]]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "crack_tab",
    "name": "parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 400,
    "y": 120,
    "wires": [["fn_count", "fn_conf", "fn_alert"]]
  },
  {
    "id": "fn_count",
    "type": "function",
    "z": "crack_tab",
    "name": "-> count",
    "func": "msg.payload = msg.payload.count || 0;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 60,
    "wires": [["gauge_count"]]
  },
  {
    "id": "fn_conf",
    "type": "function",
    "z": "crack_tab",
    "name": "-> max confidence",
    "func": "var dets = msg.payload.detections || [];\nvar top = dets.reduce(function (m, d) { return Math.max(m, d.confidence); }, 0);\nmsg.payload = Math.round(top * 100);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 120,
    "wires": [["chart_conf"]]
  },
  {
    "id": "fn_alert",
    "type": "function",
    "z": "crack_tab",
    "name": "-> alert text/color",
    "func": "var n = msg.payload.count || 0;\nif (n > 0) {\n  msg.payload = 'CRACK DETECTED (' + n + ')';\n  msg.color = 'red';\n} else {\n  msg.payload = 'clear';\n  msg.color = 'green';\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 180,
    "wires": [["text_alert"]]
  },
  {
    "id": "gauge_count",
    "type": "ui_gauge",
    "z": "crack_tab",
    "name": "Live crack count",
    "group": "cfg_group_cracks",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Live crack count",
    "label": "cracks",
    "format": "{{value}}",
    "min": 0,
    "max": "10",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "1",
    "seg2": "4",
    "x": 900,
    "y": 60,
    "wires": []
  },
  {
    "id": "chart_conf",
    "type": "ui_chart",
    "z": "crack_tab",
    "name": "Confidence over time",
    "group": "cfg_group_cracks",
    "order": 2,
    "width": 6,
    "height": 4,
    "label": "Top confidence (%)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "5",
    "removeOlderUnit": "60",
    "cutout": 0,
    "colors": ["#1f77b4"],
    "x": 910,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "text_alert",
    "type": "ui_text",
    "z": "crack_tab",
    "group": "cfg_group_cracks",
    "order": 3,
    "width": 6,
    "height": 2,
    "name": "Alert",
    "label": "Status",
    "format": "<span style=\"color:{{msg.color}};font-weight:bold\">{{msg.payload}}</span>",
    "layout": "row-spread",
    "x": 900,
    "y": 180,
    "wires": []
  },
  {
    "id": "inject_test",
    "type": "inject",
    "z": "crack_tab",
    "name": "test: 2 cracks",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "once": false,
    "topic": "ivis/crack/detections",
    "payload": "{\"timestamp\":1700000000,\"count\":2,\"detections\":[{\"class\":\"crack\",\"confidence\":0.91,\"bbox\":[10,20,120,140]},{\"class\":\"crack\",\"confidence\":0.77,\"bbox\":[200,60,300,180]}]}",
    "payloadType": "json",
    "x": 180,
    "y": 260,
    "wires": [["json_parse", "debug_out"]]
  },
  {
    "id": "debug_out",
    "type": "debug",
    "z": "crack_tab",
    "name": "debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "x": 410,
    "y": 300,
    "wires": []
  },
  {
    "id": "mqtt_status",
    "type": "mqtt in",
    "z": "crack_tab",
    "name": "ivis/crack/status",
    "topic": "ivis/crack/status",
    "qos": "0",
    "datatype": "json",
    "broker": "cfg_broker_local",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 400,
    "wires": [["switch_online"]]
  },
  {
    "id": "switch_online",
    "type": "switch",
    "z": "crack_tab",
    "name": "status == online",
    "property": "payload.status",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "online", "vt": "str" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 400,
    "y": 400,
    "wires": [["trigger_online"]]
  },
  {
    "id": "trigger_online",
    "type": "trigger",
    "z": "crack_tab",
    "name": "online, offline after 30s",
    "op1": "online",
    "op2": "offline",
    "op1type": "val",
    "op2type": "val",
    "duration": "30",
    "extend": true,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 640,
    "y": 400,
    "wires": [["fn_status"]]
  },
  {
    "id": "fn_status",
    "type": "function",
    "z": "crack_tab",
    "name": "-> detector text/color",
    "func": "if (msg.payload === 'online') {\n  msg.payload = 'detector online';\n  msg.color = 'green';\n} else {\n  msg.payload = 'detector OFFLINE';\n  msg.color = 'red';\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 890,
    "y": 400,
    "wires": [["text_status"]]
  },
  {
    "id": "text_status",
    "type": "ui_text",
    "z": "crack_tab",
    "group": "cfg_group_cracks",
    "order": 4,
    "width": 6,
    "height": 2,
    "name": "Detector status",
    "label": "Detector",
    "format": "<span style=\"color:{{msg.color}};font-weight:bold\">{{msg.payload}}</span>",
    "layout": "row-spread",
    "x": 1130,
    "y": 400,
    "wires": []
  },
  {
    "id": "cfg_broker_local",
    "type": "mqtt-broker",
    "name": "local mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "cfg_group_cracks",
    "type": "ui_group",
    "name": "Cracks",
    "tab": "cfg_tab_ivis",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "cfg_tab_ivis",
    "type": "ui_tab",
    "name": "IVIS Crack Dashboard",
    "icon": "dashboard",
    "order": 1
  }
]
